<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="fragments :: headerFragment"></head>

<body>


<div class="container">
    <div class="col-lg-6 col-lg-offset-3">
        <div class="panel panel-default card card-3">
            <div class="panel-body">

                <div class="panel panel-primary">
                    <div class="panel-heading"><h4><b>Director Details</b></h4></div>
                    <ul class="list-group">
                        <li class="list-group-item" th:text="${'Name: ' + director.name}"></li>
                        <li class="list-group-item" th:text="${'Famous For Genre: ' + director.genre}"></li>

                        <h3>Movies</h3>
                        <ul>
                            <th:block th:each="movie : ${director.movies}">
                                <li th:inline="text">[[${movie.title}]]</li>
                            </th:block>
                        </ul>

                    </ul>
                </div>

            </div>
        </div>
    </div>
</div>


<!-- javascript -->
<!-- th:block goes away after processing, but what's inside stays, so it won't affect the page layout -->
<th:block th:replace="fragments :: javaScriptTemplate"></th:block>


</body>

</html>